
/* Entire Document */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Home Screen Styling */
.home-page {
  display: flex;
  height: 87vh;
  overflow: hidden;
  background-image: url('https://images.pexels.com/photos/1918291/pexels-photo-1918291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: 100% 100%;
}

/* NavBard Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 13vh;
  align-items: center;
}

.navheader {
  display: flex;
  flex-direction: row;
  
}

.header-image {
  padding-left: 50px;
}

.header-title {
  padding-left: 20px;
}

.navlinks {
  padding: 20px;
}

.navlinks a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Sign Up Form Styling */

.signup-page {
  display: flex;
  justify-content: center;
  height: 87vh;
}

.signup-form-container {
  margin-top: 100px;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 700px;
  height: 580px;
  padding: 80px 40px;
  text-align: center;
}

.signup-form-container h1 {
  font-size: 55px;
  margin-top: -25px;
  margin-bottom: 10px;
  text-align: center;
  
}

.signup-form-container p {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.field {
  width: 100%;
  overflow: hidden;
  font-size: 30px;
  padding: 8px 0px;
  margin: 8px 0px;
  border-bottom: 1px solid #bbbbbb;
  text-align: left;
}

.field input {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  width: 80%;
  margin: 0 10px;
}

.signup-btn {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  background-color: #F7CB6A;
  color: white;
  font-size: 20px;
  border-radius: 15px;
}

/* Login Form Styling */

.login-page {
  display: flex;
  justify-content: center;
  height: 87vh;
}

.login-form-container {
  margin-top: 100px;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 700px;
  height: 580px;
  padding: 80px 40px;
  text-align: center;
}

.login-form-container h1 {
  font-size: 55px;
  margin-top: -25px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.login-btn {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  background-color: #F7CB6A;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}

/* User Profile Styling */

.user-profile {
  display: flex;
  /* align-items: center; */
}

.user-banner {
  display: flex;
  flex-direction: column;
  height: 87vh;
  width: 20vw;
  padding: 25px;
}

.user-name-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 45vh;
  
}

.user-name-image h1 {
  margin: 0;
  padding-bottom: 5px;
  
}

.user-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 42vh;
  
}

.user-summary {
  border-top: 1.4px solid lightgray;
  height: 30vh;
}

.user-summary h1 {
  margin-top: 10px;
}

.user-work-info {
  border-top: 1.4px solid lightgray;
  height: 15vh;
}

.user-work-info h1 {
  margin-top: 10px;
}

.user-additional-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 87vh;
  width: 80vw;
  border-left: 1.4px solid lightgray;
}

.user-photos-container {
  display: flex;
  flex-direction: column;
  height: 35vh;
  border-bottom: 1.4px solid lightgray;
  padding: 5px 10px 5px 10px
}

.user-photos-heading h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
}

.user-photos img {
  height: 260px;
  width: 200px;
  margin-right: 20px;
  border-radius: 10px;
}

.user-preferences-match {
  display: flex;
  height: 47vh;
}

.user-preferences {
  display: flex;
  flex-direction: column;
  height: 47vh;
}

.user-roommate-preferences {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40vw;
  height: 26vh;
  border-bottom: 1.4px solid lightgray;
}

.user-roommate-preferences-heading {
  padding-bottom: 18px;
}

.user-roommate-preferences-heading h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
}

.user-roommate-preferences-columns {
  display: flex;
}

.user-roommate-preferences-column-1 {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.user-roommate-preferences-column-2 {
  display: flex;
  flex-direction: column;
  width: 20vw;

}

.user-cleaning-preference {
  padding-bottom: 20px;
}

.user-moving-preferences {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 40vw;
  height: 21vh;
}

.user-moving-preferences-heading {
  padding-bottom: 18px;
}

.user-moving-preferences-heading h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
}

.user-moving-preferences-columns {
  display: flex;
}

.user-moving-preferences-column-1 {
  display: flex;
  flex-direction: column;
  width: 20vw;

}

.user-moving-preferences-column-2 {
  display: flex;
  flex-direction: column;
  width: 20vw;
}

.preferences-heading {
  font-size: 20px;
}

.user-recent-match {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 20px;
  padding-left: 40px;
  width: 40vw;
  height: 473px;
  border-left: 1.4px solid lightgray;
}

.user-recent-match-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.user-recent-match-heading-link h2 {
  font-size: 15px;
  color: rgb(176, 170, 170);
}

.user-recent-match h1 {
  font-family: 'Overpass', sans-serif;
  font-size: 25px;
}

/* Edit Profile Styling */

.user-edit-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-user-name-work {
  display: flex;
}

/* Match Page Styling */

.match-page {
  display: flex;
  padding: 50px;
}

.match-pending-requests {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.match-requests {
  display: flex;
  flex-direction: column;
  height: 38vh;
  background-color: brown;
}

.match-pending {
  display: flex;
  flex-direction: column;
  height: 38vh;

  background-color: cornflowerblue;
}

.match-accepted {
  display: flex;
  flex-direction: column;
  width: 35vw;
  height: 76vh;
  background-color: cyan;
}

/* Matcher Profile Page Styling */

.matcher-preferences {
  display: flex;
  height: 495px;
}

.matcher-roommate-preferences {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 20px;
}

.matcher-moving-preferences {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-left: 20px;
  border-left: 1.4px solid lightgray;
}

/* Edit Form Styling */

.edit-form-container {
  display: flex;
  width: 75vw;
  justify-content: center;
}

.image-uploader {
  display: flex;
  flex-direction: column;
}

.image-uploader button {
  align-self: center;

}

/* Filter Styling */

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  margin-bottom: 50px;
}

/* Find Roommate Styling */

.find-roommate {
  padding: 30px;
}

.find-roommate h1 {
  margin: 8px;
}

/* Match Request */

.match-request-div {
  display: flex;
  align-items: center;
  transition: box-shadow 0.3s ease-in-out;
}

.match-request-div:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.match-request-name p {
  font-size: 20px;
  padding-left: 20px;
  padding-right: 40px;
}




