
/* Entire Document */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Home Screen Styling */
.home-page {
  display: flex;
  height: 87vh;
  overflow: hidden;
  background-image: url('https://images.pexels.com/photos/1918291/pexels-photo-1918291.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-size: 100% 100%;
}

/* NavBard Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 13vh;
  align-items: center;
}

.navheader {
  display: flex;
  flex-direction: row;
  
}

.header-image {
  padding-left: 50px;
}

.header-title {
  padding-left: 20px;
}

.navlinks {
  padding: 20px;
}

.navlinks a {
  padding: 20px;
  text-decoration: none;
  font-size: 20px;
}

/* Sign Up Form Styling */

.signup-page {
  display: flex;
  justify-content: center;
  height: 87vh;
}

.signup-form-container {
  margin-top: 100px;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 700px;
  height: 580px;
  padding: 80px 40px;
  text-align: center;
}

.signup-form-container h1 {
  font-size: 55px;
  margin-top: -25px;
  margin-bottom: 10px;
  text-align: center;
  
}

.signup-form-container p {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

.field {
  width: 100%;
  overflow: hidden;
  font-size: 30px;
  padding: 8px 0px;
  margin: 8px 0px;
  border-bottom: 1px solid #bbbbbb;
  text-align: left;
}

.field input {
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
  width: 80%;
  margin: 0 10px;
}

.signup-btn {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  background-color: #F7CB6A;
  color: white;
  font-size: 20px;
  border-radius: 15px;
}

/* Login Form Styling */

.login-page {
  display: flex;
  justify-content: center;
  height: 87vh;
}

.login-form-container {
  margin-top: 100px;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 10px;
  width: 700px;
  height: 580px;
  padding: 80px 40px;
  text-align: center;
}

.login-form-container h1 {
  font-size: 55px;
  margin-top: -25px;
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 50px;
}

.login-btn {
  margin-top: 40px;
  height: 50px;
  width: 100px;
  background-color: #F7CB6A;
  color: white;
  border-radius: 15px;
  font-size: 20px;
}

/* User Profile Styling */

.user-profile {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.user-card {
  display: flex;
}

.user-match-feed {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}