/* Entire Document */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* NavBard Styling */

.navbar {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 13vh;
  align-items: center;
}

.navheader {
  display: flex;
  flex-direction: row;
}

.header-image {
  padding-left: 50px;
}

.header-title {
  padding-left: 20px;
}


